<% date = DateTime.now %>
<h1><%= "The date is " + date.strftime("%A, %B %d, %Y") %></h1>
<% # Time.strftime(args)
   # %A full weekday name
   # %B full month name
   # %d day of month 01-31
   # %Y year with century
   %>
