<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playing with Shotguns</title>
  </head>
  <body>
    <h1>Shotguns are safe and fun</h1>
    <h2>Point them at problems!</h2>
    <h3>Insta-success</h3>
  </body>
</html>
